.container {
  margin-top:30px;
}
.container>.row:nth-child(1){
  border-bottom: 4px solid #000
}
.container>.row:nth-child(1) a{
  cursor: pointer;
}
.container>.row:nth-child(1) h2{
  margin-top: 10px;
}
#NoteList{
  list-style:none;
  padding:0;
}
#NoteList li{
  padding:20px 0;
}
#NoteList li a {
  color: #000; 
  font-weight: bold;
  margin-left:6px;
}
#note {
  border-left:4px solid #000;
}
#note textarea{
  resize: none;
  border: none; 
  font-size: 1.2em; 
  font-weight:bold; 
  margin: 10px 0 0 10px;
}
#note>.row:nth-child(2) a img{
  margin-top:7px;
  cursor:pointer;
}
#note>.row:nth-child(2) a:nth-child(2){
  font-size: 2em; 
  margin-top:7px;
}
.selectedNote{
  background-color: #D3D3D3;
}
